/* * { border: 0.1em solid black; } */
.discontinuo {
    border: 0.1em dotted black;
}

.fondo-rojo {
    background-color: red;
}

.fondo-negro {
    background-color: rgb(7, 1, 1);
}

.texto-blanco {
    color: #fff;
}

.redondo {
    border-radius: 50%;
}

.borde-verde {
    border: 0.1em solid green;
}

.px50 {
    width: 50px;
    height: 50px;
    text-align: center;
    
}
import frases_vito


print(frases_vito.frases["Don Vito Papá , en el colegio me llaman mafioso"])

print(frases_vito.frases["Por eso María ... por eso . Las ardillas , mamá , las malditas ardillas ..."])

try:

    print('Waiting for finger to enroll...')

    position_number = f.getEmptyId()


    if (position_number == -1):

        raise Exception('There is no empty position available!')


    print('Remove finger...')

    time.sleep(2)


    print('Place the same finger again...')

    while (f.readImage() == False):

        pass


    f.convertImage(0x01)


    result = f.createTemplate()


    if (result == False):

        raise Exception('Could not create template!')


    print('Template created.')


    f.setTemplate(position_number)

    print('Fingerprint enrolled successfully
}